<!DOCTYPE html>

<html>
	<head>
        <%- include('../partials/head.ejs'); %>
	</head>
	<body>
		<div id="lock">
			<input
				autocorrect="off"
				value=""
				id="pwbox"
				autocomplete="off"
				autofocus=""
				type="password"
				class="">
			<p> this content is locked </p>
		</div>

		<script src="static/index.js" type="text/javascript"></script>
	</body>
</html>
