<!DOCTYPE html>

<html>
	<head>
        <%- include('../partials/head.ejs'); %>
	</head>
    <body>
        <div class="viewer-container">
            <div class="viewer">
                <div class="viewer__info"> viewing <%= videoPath %></div>
                <div class="viewer__info viewer__info--start"> click to start sync... </div>
                <video controls>
                    <source src="/static/<%= videoPath %>" type="video/mp4">
                </video>
                <div class="viewer__info viewer__info--reverse">
                    <span class="viewer__stat" id="connectionState">syncing...</span>
                    <span class="viewer__stat" id="videoState">paused</span>
                    <span class="viewer__stat" id="activeViewers">0 active viewers</span>
                </div>
            </div>
        </div>

        <script src="/static/socket.io.js" type="text/javascript"></script>
        <script src="/static/viewer.js" type="text/javascript"></script>
        <script type="text/javascript" defer>
        
            document.querySelector('.viewer__info--start')
                .addEventListener('click', ev => {
                    ev.target.remove()
                    window.vc = new VideoController("<%= videoPath %>")
                })
        </script>
    </body>
</html>
